body {
    position: relative;
    font-size: 15px;
    font-family: 'Overpass', sans-serif;
    background-color: hsl(216, 12%, 8%);
    display: flex; 
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    
   
    align-items: center; 
    color: hsl(0, 0%, 100%);
}




p {
    color:  hsl(216, 12%, 54%);
    font-size: 15px;
    line-height: 1.5rem;

    
}

.image-container {
    background-color: white;
    width: 45px;
    height: 45px;
    background-color: hsl(211, 20%, 21%);
    border-radius: 50%;
    position: relative;
}

.icon-star {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}
  
/* ----buttons------ */

.submit {
    background-color:hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    height: 30px;
    width: 100%;
    margin-top: 30px;
   

}

.submit:hover {
    background-color: white;
    color: hsl(25, 97%, 53%)
}

.rating-button {
    
    width: 20%;
    height: 45px;
    border: none;
    border-radius: 50%;
    margin: 0 5px;
    font-size: 16px;
    color:  hsl(216, 12%, 54%);
    cursor: pointer;
    background-color: hsl(211, 20%, 21%);
    transition: background-color 0.3s ease;
}

.rating-buttons { 
    width: 100%;
    padding-left: 0%;
    display: flex;
   
}

.rating-button:hover {
    background-color:hsl(25, 97%, 53%);
}

.rating-button:focus {
    background-color:hsl(217, 12%, 63%);
}

/* ---------thank-you-state-------- */

.rating-state, .thank-you-state {
    
    padding: 2.5rem 2rem;
    /* padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem; */
    border-radius: 5%;
    align-items: center;
    width: 45vh;
    height: 45vh;
    background-color: hsl(213, 19%, 18%);
    display: flex;
    flex-direction: column;
    /* padding: 0, 2rem, 0, 2rem; */
    margin:1rem, 2rem;
    justify-content: center; 
    
    
}


.selected-rating {
    background-color: hsl(211, 20%, 21%);
    border-radius: 15px;
    height: fit-content ;
    margin-top: 25px;
    padding: 20px; 
   
         
}

.thank-you-state .selected-rating p {
    
    color: hsl(25, 97%, 53%); 

   
}

h2 {
    padding-top: 1rem;
    margin-bottom: 0rem;
}

.thank-you-state, .appreciation {
    
    text-align: center;
}